<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HelpingHands"
        tools:targetApi="31">

<!--        Main Screens-->
        <activity
            android:name=".screens.LaunchActivity"
            android:exported="true">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".screens.RegistrationActivity"
            android:exported="true"></activity>
        <activity
            android:name=".LoginPageActivity"
            android:exported="true"></activity>
        <activity
            android:name=".HomePageActivity"
            android:exported="true"></activity>
        <activity
            android:name=".CampaignJoiningOptionsPageActivity"
            android:exported="true"></activity>
        <activity
            android:name=".CampaignPostingOptionsPageActivity"
            android:exported="true">
        </activity>


<!--        Donation Campaign-->
        <activity
            android:name=".screens.DonationCampaign.DonationOptionPageActivity"
            android:exported="true"></activity>
        <activity
            android:name=".screens.DonationCampaign.DonationCampaignPostingPageActivity"
            android:exported="true">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".screens.DonationCampaign.DonationCampaignSummaryPageActivity"
            android:exported="true"></activity>
        <activity
            android:name=".screens.DonationCampaign.DonationCampaignStatusPageActivity"
            android:exported="true"></activity>
        <activity
            android:name=".screens.DonationCampaign.DonationCampaignSelectionPageActivity"
            android:exported="true"></activity>
        <activity
            android:name=".screens.DonationCampaign.TransactionPageActivity"
            android:exported="true"></activity>

<!--        Unspecialized Activity -->
        <activity
            android:name=".screens.UnspecializedActivity.UnspecializedActivityPostingPageActivity"
            android:exported="true"></activity>
        <activity
            android:name=".screens.UnspecializedActivity.UnspecializedActivitySummaryPageActivity"
            android:exported="true"></activity>
        <activity
            android:name=".screens.UnspecializedActivity.UnspecializedActivityStatusPageActivity"
            android:exported="true"></activity>
        <activity
            android:name=".screens.UnspecializedActivity.UnspecializedActivitySelectionPageActivity"
            android:exported="true"></activity>

<!--        Volunteer Activity-->
        <activity
            android:name=".screens.VolunteerCampaign.VolunteerCampaignPostingPageActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".screens.VolunteerCampaign.VolunteerCampaignSummaryPageActivity"
            android:exported="true"></activity>
        <activity
            android:name=".screens.VolunteerCampaign.VolunteerCampaignStatusPageActivity"
            android:exported="true"></activity>
        <activity
            android:name=".screens.VolunteerCampaign.VolunteerCampaignSelectionPageActivity"
            android:exported="true"></activity>
    </application>
</manifest>